@inject DialogService DialogService



<RadzenCard Style="margin-bottom: 20px;">

    <RequestedProductRowComponent PartnerId="PartnerId" RequestId="RequestId" MainLayout="MainLayout"/>

</RadzenCard>
<div class="row">
    <div class="col-md-12 text-right">
        <RadzenButton Click="@((args) => DialogService.Close(true))" ButtonStyle="ButtonStyle.Secondary" Text="Close" Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>

@code {
    [Parameter] public int PartnerId { get; set; }
    [Parameter] public int RequestId { get; set; }
    [Parameter] public MainLayout MainLayout { get; set; }

}